@import '../../utilities/sass/sass-variables.scss';
@import '../../utilities/sass/shared.scss';

.projects-section {
    height: 100vh;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    padding-top: 50px;
}