@import '../../utilities/sass/sass-variables.scss';
@import '../../utilities/sass/shared.scss';

.projects-section {
    min-height: 100vh;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    padding-top: 50px;
    .project-gallery {
        width: 100%;
        .project-cards {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;

            @include sm {
                flex-direction: row;
            }
            .card {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 200px;
                margin: 10px;

                @include sm {
                    flex-basis: calc(50% - 20px);
                }
                @include md {
                    flex-basis: calc(50% - 40px);
                    height: 300px;
                    margin: 20px;
                }
                &:hover {
                    cursor: pointer;
                }
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    &:hover {
                        opacity: 75%;
                    }
                }
                .hover-hidden {
                    display: none;
                }
                .hover-show {
                    display: block;
                    position: absolute;
                    color: #00ffff;
                    .hover-title {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}