@import '../../utilities/sass/sass-variables.scss';
@import '../../utilities/sass/shared.scss';

.contact-section {
    height: calc(60vh - 50px);
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    padding-bottom: 50px;
    @include sm {
        padding-bottom: 20px;
    }

    h4 {
        text-align: center;
        color: red;
    }

    h3 {
        text-align: center;
    }

    .contact-form-flex {
        display: flex;
        flex-direction: column;
        .flex-row {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 20px;
            @include sm {
                flex-direction: row;
            }
            input {
                height: 20px;
                width: 95%;
                border-radius: 5px;
                padding: 10px;
                @include sm {
                    width: 33%;
                }
                &:focus-visible {
                    outline: none;
                    border-color: #00ffff;
                }
            }
            .email-flex-column {
                width: 100%;
                @include sm {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }
                .email-invalid {
                    color: red;
                    font-size: .8rem;
                }
            }
        }
        textarea {
            height: 90px;
            padding: 10px;
            &:focus-visible {
                outline: none;
                border-color: #00ffff;
            }
        }
        .submit-btn {
            margin-top: 30px;
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
            width: 100%;
            align-self: center;
            @include sm {
                width: 50%;
            }
            &:disabled {
                opacity: 0.75;
                &:hover {
                    cursor: not-allowed;
                }
            }
            &:hover {
                cursor: pointer;
            }
        }
      
        .lds-hourglass {
            display: inline-block;
            position: relative;
            top: -42px;
            left: 65px;
            right: 0;
            margin: 0 auto;
        }
          .lds-hourglass:after {
            content: " ";
            display: block;
            border-radius: 50%;
            width: 0;
            height: 0;
            margin: 8px;
            box-sizing: border-box;
            border: 15px solid #fff;
            border-color: #fff transparent #fff transparent;
            animation: lds-hourglass 1.2s infinite;
        }
        @keyframes lds-hourglass {
            0% {
                transform: rotate(0);
                animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }
            50% {
                transform: rotate(900deg);
                animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            }
            100% {
                transform: rotate(1800deg);
            }
        }
    }
}