@import '../../utilities/sass/sass-variables.scss';
@import '../../utilities/sass/shared.scss';

.projects-section {
    min-height: 100vh;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    padding-top: 50px;
    .project-gallery {
        width: 100%;
        .project-cards {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;

            @include sm {
                flex-direction: row;
            }
            .card {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 200px;
                margin: 10px;
                background:rgba(255, 255, 255, 0.66);

                @include sm {
                    flex-basis: calc(50% - 20px);
                }
                @include md {
                    flex-basis: calc(50% - 40px);
                    height: 300px;
                    margin: 20px;
                }
                &:hover {
                    cursor: pointer;
                }
                .discord-icon {
                    height: 90%;
                    width: 100%;
                    fill: #7289DA;
                }
                img {
                    width: 75%;
                }
                .hover-hidden {
                    display: block;
                    position: absolute;
                    bottom: 10px;
                    @include sm {
                        display: none;
                    }
                }
                .hover-show {
                    position: absolute;
                    bottom: 10px;
                    .hover-title {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}