@import '../../utilities/sass/sass-variables.scss';
@import '../../utilities/sass/shared.scss';

.about-section {
    height: 100vh;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    padding-top: 50px;

    .flex-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include md {
            flex-direction: row;
            justify-content: space-around;
        }
    }
    .portrait {
        width: 50%;
        img {
            border-radius: 50%;
            width: 100%;
        }
        @include md {
            width: 25vw;
            max-width: 33%;
        }
        @include lg {
            width: 20vw;
            max-width: 25%;
        }
    }
    .elevator-pitch {
        width: 90%;
        font-size: 16px;
        text-align: center;
        @include md {
            width: 60%;
            text-align: left;
            font-size: 18px;
        }
        @include lg {
            font-size: 24px;
        }
    }
}