.section-header {
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content:center;
    text-transform: uppercase;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @include sm {
        width: 576px;
    }
    @include md {
        width: 768px;
    }
    @include lg {
        width: 992px;
    }
    @include xl {
        width: 1200px;
    }
}